<!DOCTYPE html>
<html class="menu">
<html>

<head>

    <title>Meu bot ☢🤖</title>

    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./favicon/power.png">

</head>


<body>
    <nav class="main-menu">

        <div>
            <a class="logo" href="http://startific.com">
            </a> 
          </div> 
        <div class="settings"></div>
        <div class="scrollbar" id="style-1">
              
        <ul>

        <div>
            <a class="logo" href="http://startific.com">
            </a>
        </div>
        <div class="settings"></div>
        <div class="scrollbar" id="style-1">

            <ul>

                <li>
                    <a href="http://localhost:8000/">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">Leitura QRCODE</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8000/treinamento">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-text">Treinamento do Robô</span>
                    </a>
                </li>


            </ul>


        
    </nav>

    <div id="app">
		<h1>Leitura QR Code - Robô ☢🤖 </h1>
		<img src="" alt="QR Code" id="qrcode">
		<h3>Logs</h3>
		<ul class="logs"></ul>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" crossorigin="anonymous"></script> -->
	<script>
		$(document).ready(function() {
			var socket = io();

			socket.on('message', function(msg) {
				$('.logs').prepend($('<li>').text(msg));
          
			});

			socket.on('qr', function(src) {
				$('#qrcode').attr('src', src);
				$('#qrcode').show();
			});

			socket.on('ready', function(data) {
				$('#qrcode').hide();
			});

			socket.on('authenticated', function(data) {
				$('#qrcode').hide();
			});
		});
	</script>




</body>

</html>